.bereich-nav {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.bereich-nav-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: #007bff;
    font-weight: 200;

    &:hover {
        text-decoration: underline;
    }

    &.active {
        font-weight: 400;
        text-decoration: underline;
    }
}
