@tailwind base;
@tailwind components;
@tailwind utilities;

.einfacher-schatten {
    box-shadow: 5px 5px 10px #888888;
  }

  .runde-ecken {
    border-radius: 12px 12px 0px 0px;
  }

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
